nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  font-family: "alfa-slab-one", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
}

.navbar-header {
  font-size: 3rem;
}

.nav-links {
  display: flex;
  text-decoration: none;
}

.link {
  color: var(--black);
  text-decoration: none;
}