nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  font-family: "alfa-slab-one", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
}

.navbar-header {
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  text-decoration: none;
}

.link {
  color: var(--black);
  text-decoration: none;
}

.shopping-elements-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-button {
  cursor: pointer;
  height: 25px;
}

.svg-cart {
  min-height: 100%;
}