.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border-radius: 15px;
  box-shadow: 2px 3px 0px rgba(0,0,0,0.5);
  background-color: white;
  border: 1px solid rgba(0,0,0,0.7);
}

.product-card-title {
  font-weight: bold;
  padding: 0.4rem;
  font-size: 0.8rem;
  text-align: center;
}

.product-card-image-container {
  margin-top: auto;
  margin-bottom: auto;
  height: 60%;
}

.product-card-image {
  object-fit: contain;
  flex: 1;
  height: 0;
  min-height: 100%;
  width: 0;
  min-width: 100%;
}

.product-tag {
  color: #0b910b;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.3rem;
  font-weight: bold;
  margin: 1rem;
  text-shadow: 1px 1px black;
}

@media (min-width: 1024px) {
  .product-card-title {
    font-size: 1.2rem;
  }
}