.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.product-card-title {
  font-size: 0.8rem;
  text-align: center;
}

.product-card-image-container {
  margin-top: auto;
  margin-bottom: auto;
  height: 60%;
}

.product-card-image {
  object-fit: contain;
  flex: 1;
  height: 0;
  min-height: 100%;
  width: 0;
  min-width: 100%;
}

.product-tag {
  color: #0b910b;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.3rem;
  font-weight: bold;
  margin: 1rem;
}