.product-card {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border: 1px solid rgba(0,0,0,0.3);
}

.product-card-title {
  font-size: 0.8rem;
  text-align: center;
}

.product-card-image-container {
  height: 60%;
}

.product-card-image {
  object-fit: contain;
  flex: 1;
  height: 0;
  min-height: 100%;
  width: 0;
  min-width: 100%;
}