nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  font-family: "alfa-slab-one", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.nav-header {
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--black);
  text-decoration: none;
}

.shopping-elements-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-button {
  border: none;
  background-color: var(--white);
  padding: 6px;
  display: flex;
  cursor: pointer;
  border-radius: 100%;
  transition: background-color 0.3s;
}

.cart-button:hover {
  background-color: var(--light-grey);
}

.svg-cart {
  height: 30px;
}

@media (min-width: 768px) {
  .nav-header {
    font-size: 2rem;
  }

  .shopping-elements-container {
    gap: 40px;
  }

  .link {
    font-size: 2rem;
  }

  .svg-cart {
    height: 40px;
  }
}