nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  font-family: "alfa-slab-one", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.nav-header {
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--white);
  text-decoration: none;
}

.shopping-elements-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-button {
  position: relative;
  border: none;
  background-color: black;
  padding: 6px;
  display: flex;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.cart-button:hover {
  background-color: #181818
}

.svg-cart {
  height: 30px;
}

.cart-counter {
  color: white;
  height: min-content;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .nav-header {
    font-size: 2rem;
  }

  .shopping-elements-container {
    gap: 40px;
  }

  .link {
    font-size: 2rem;
  }

  .svg-cart {
    height: 40px;
  }
}

@media (min-width: 1620px) {
  nav {
    padding: 2rem;
  }
  .nav-header {
    font-size: 3rem;
  }

  .link {
    font-size: 3rem;
  }
}