nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  font-family: "alfa-slab-one", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navbar-header {
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  text-decoration: none;
}

.link {
  color: var(--black);
  text-decoration: none;
}

.shopping-elements-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-button {
  border: none;
  background-color: var(--white);
  display: flex;
  cursor: pointer;
  border-radius: 100%;
  transition: background-color 0.3s;
}

.cart-button:hover {
  background-color: var(--light-grey);
}

.svg-cart {
  height: 30px;
  padding: 4px;
}